<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Demo Glyphicon
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/user">User List</a></li>
            <li><a href="/user/new">Create New User</a></li>
        </ul>

    </div>
</nav>