<% layout('layout') -%>    
    
<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <p><a href="/user" >View User</a></p>
        <p><a href="/user/new" >Create User</a></p>
    </div>
</main> 