<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
      
  </head>
  <body class="container">
    <header>
        <% include partials/header %>
    </header>
    <%- body %>
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>    