<% layout('layout') -%>
<main>
    <div class="jumbotron">
<a href="/" >Back to Home</a>
<ul>
	<% for(var key in userlist){  %>
		<% if(userlist.hasOwnProperty(key)){%>
			<li><%= userlist[key].username%> | <%= userlist[key]['email']%></li>
		<%} %>
	<%}%>
	
</ul>
</div>
</main>

