<% layout('layout') -%>

<main>
    <div class="jumbotron">
    <a href="/" >Back to Home</a>
<% if (typeof message !== 'undefined') {%>
    <%= message %>
<% } %>
<form action="/user" method="post">
<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
</main>